*#
*.AD_DRW
*.bak
*.cfg
*.dat
*.docx
*.gif
*.gpdsc
*.gz
*.html
*.log
*.logicsettings
*.ngc
*.orig
*.pdf
*.pyproj
*.save
*.sdf
*.sln
*.txt
*.xlsx
*.zip
*~
.#*
.*/
.pydevproject
.settings/
.vs/
/stm32f407xx.h
Debug/
Middlewares/
Old/
STM32F4xx_StdPeriph_Driver/src/*
TrueStudio/
cfg/
cscope.files
cscope.out
include/timers.h
lathe-new.cpp.lst
src/test.cpp
