*#
.#*
*.AD_DRW
*.bak
*.cfg
*.dat
*.docx
*.gif
*.gpdsc
*.gz
*.html
*.log
*.logicsettings
*.orig
*.ngc
*.pdf
*.pyproj
*.save
*.sdf
*.sln
*.txt
*.xlsx
*.zip
*~
.pydevproject
.settings/
.vs/
.*/
cscope*
cfg/
Debug/
STM32F4xx_StdPeriph_Driver/src/*
include/timers.h
Middlewares/
Old/
src/test.cpp
timer.sh
TrueStudio/
/stm32f407xx.h
